<h1>This is Page 2 for "{{ username }}"</h1>

<p>Page 2 also has some text. It can be partially or fully loaded.</p>

<p>Cool thing about this page is that it has some buttons which are declared only in this partial</p>

<btn-group>
  <btn label="First" value="BTN" skin="green"></btn>
  <btn label="Second" value="BTN" skin="pink"></btn>
  <btn label="Third" value="BTN" skin="gray"></btn>
</btn-group>

<h2>Data grid</h2>

<p>All data on this page is updated using JSON Patch against the data model</p>

<div style="margin-bottom: 2em">
  <ui-handsontable id="example1" datarows="row in subpage.people" settings="subpage.settings"
                  XXXwidth="400">
    <datacolumn width="30" readOnly value="row.id" title="'ID'"></datacolumn>
    <datacolumn width="70" value="row.name.first" title="'First Name'"></datacolumn>
    <datacolumn width="100" value="row.name.last" title="'Last Name'"></datacolumn>
    <datacolumn type="autocomplete" source="genderList" value="row.gender"
                title="'Gender'"></datacolumn>
    <datacolumn type="'numeric'" value="row.age" title="'Age'"></datacolumn>
    <datacolumn type="'checkbox'" value="row.languages.english" title="'English'" checkedTemplate="'Yes'"
                uncheckedTemplate="'No'"></datacolumn>
    <datacolumn type="'checkbox'" value="row.languages.spanish" title="'Spanish'" checkedTemplate="'Yes'"
                uncheckedTemplate="'No'"></datacolumn>
    <datacolumn type="'checkbox'" value="row.languages.french" title="'French'" checkedTemplate="'Yes'"
                uncheckedTemplate="'No'"></datacolumn>
    <datacolumn type="'numeric'" value="row.salary" title="'Salary'" format="'$ 0,0.00'"></datacolumn>
  </ui-handsontable>
</div>