<polymer-element name="x-viewmodel-page" attributes="model view">
  <template>[This will be replaced by view. View can contain MDV that will be bound to model]</template>
  <script>
    Polymer.bindHTML = function (html, element) {
      var template = document.createElement('template');
      template.innerHTML = html;
      return template.createInstance(element, 'Polymer');
    };

    Polymer.unbindNode = function (node) {
      node.unbindAll();
      for (var child = node.firstChild; child; child = child.nextSibling) {
        Polymer.unbindNode(child);
      }
    };

    Polymer('x-viewmodel-page', {
      viewChanged: function () {
        if (typeof this.view === 'string') { //otherwise there is a Polymer exception on page load
          if (this.view && this.view.indexOf('@') === 0) {
            //load partial from HTTP server/cache
            var href = this.view.substr(1);
            var oReq = new XMLHttpRequest();
            var that = this;
            oReq.onload = function (event) {
              that.replaceView.call(that, event.target.responseText);
            };
            oReq.open("GET", href, true);
            oReq.send();
          }
          else {
            //load partial from string
            this.replaceView(this.view);
          }
        }
      },
      replaceView: function (html) {
        Polymer.unbindNode(this.webkitShadowRoot);
        var el = this.webkitShadowRoot.lastChild;
        while (el) {
          this.webkitShadowRoot.removeChild(el);
          el = this.webkitShadowRoot.lastChild;
        }
        this.webkitShadowRoot.appendChild(Polymer.bindHTML(html, this));
      },
      created: function () {

      }
    });
  </script>
</polymer-element>