<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="animate-me.html">
<link rel="import" href="x-btn-group.html">
<link rel="import" href="../../../lib/x-html/x-html.html">

<script src="../../../lib/json-patch/src/json-patch-duplex.js"></script>
<script src="../../../src/puppet.js"></script>

<script type="text/javascript" src="../../../test/lib/sinon-1.7.1.js"></script>
<script type="text/javascript" src="../../../test/mockServer.js"></script>

<polymer-element name="x-viewmodel">
  <template>
    <ul>
      <li><a href="../page_1">Page 1</a></li>
      <li><a href="../page_2">Page 2</a></li>
    </ul>

    <div is="animate-me">
      <template bind="{{ viewmodel }}">
        <x-html content="{{ subpage.html }}"></x-html>
      </template>
    </div>

    <hr>

    <p>
      <small>The main document was loaded as <code>{{pathname}}</code>.</small>
    </p>
  </template>

  <script>
    Polymer('x-viewmodel', {
      viewmodel: {},
      created: function () {
        this.pathname = window.location.pathname;

        var that = this;
        var puppet = new Puppet(window.location.href, function (obj) {
          that.viewmodel = obj;
          puppet.catchExternaLink(that.shadowRoot || that.webkitShadowRoot);
        });
      }
    });
  </script>
</polymer-element>