<h1>This is Page 2 for `{{ username }}`</h1>

<p>Page 2 also has some text. It can be partially or fully loaded.</p>

<h2>Data grid</h2>

<p>All data on this page is updated using JSON Patch against the data model.</p>

<div id="hot"></div>

<script>
  $('#hot').handsontable({
    data: this.model.people,
    colHeaders: ['ID', 'First Name', 'Last Name', 'Gender', 'Age', 'English', 'Spanish', 'French', 'Salary'],
    columns: [
      {
        readOnly: true,
        data: 'id'
      },
      {
        data: 'name.first'
      },
      {
        data: 'name.last'
      },
      {
        type: 'autocomplete',
        data: 'gender',
        source: this.model.genderList
      },
      {
        type: 'numeric',
        data: 'age'
      },
      {
        type: 'checkbox',
        data: 'languages.english',
        checkedTemplate: 'Yes',
        uncheckedTemplate: 'No'
      },
      {
        type: 'checkbox',
        data: 'languages.spanish',
        checkedTemplate: 'Yes',
        uncheckedTemplate: 'No'
      },
      {
        type: 'checkbox',
        data: 'languages.french',
        checkedTemplate: 'Yes',
        uncheckedTemplate: 'No'
      },
      {
        type: 'numeric',
        data: 'salary',
        format: '$ 0,0.00'
      }
    ]
  });

</script>