body {
  font-family: Arial, sans-serif;
}

.btn-group {
  padding: 4px;
  border: 2px dashed #aaa;
  float: left;
  border-radius: 4px;
}

.clear {
  clear: left;
}

.btn {
  background: #0F9D23;
  width: 65px;
  padding: 9px 0;
  color: #FFF;
  margin: 0 1px 1px 0;
  float: left;
}

.btn .small {
  font-size: 11px;
  text-align: center;
}

.btn .big {
  font-size: 22px;
  text-align: center;
}

.btn.pink {
  background: hotpink;
}

.btn.blue {
  background: cornflowerblue;
}

.btn.gray {
  background: #222;
}