body {
    font-family: Arial, sans-serif;
    padding-bottom: 100px;
}

article {
    display: flex;
}

section {
    flex: 1;
    margin-right: 20px;
}

p.detail {
    font-size: 0.95em;
    margin-bottom: 2em;
    color: #444;
}

code {
    font-family: Consolas, monospace;
    background: #EEE;
    padding: 1px;
    font-size: 0.9em;
}

label {
    margin-top: 1em;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 90%;
}