<h1>This is Page 2 for `{{ username }}`</h1>

<p>Page 2 also has some text. It can be partially or fully loaded.</p>

<p>Cool thing about this page is that it has some buttons which are declared only in this partial</p>

<x-btn-group>
  <x-btn label="First" value="BTN" skin="green"></x-btn>
  <x-btn label="Second" value="BTN" skin="pink"></x-btn>
  <x-btn label="Third" value="BTN" skin="gray"></x-btn>
</x-btn-group>

<h2>Data grid</h2>

<p>All data on this page is updated using JSON Patch against the data model</p>

<div style="margin-bottom: 2em">
  <handsontable-table id="example1" datarows="{{ subpage.people }}" settings="{{ subpage.settings }}"
                  XXXwidth="400">
    <handsontable-column width="30" readOnly value="id" title="ID"></handsontable-column>
    <handsontable-column width="70" value="name.first" title="First Name"></handsontable-column>
    <handsontable-column width="100" value="name.last" title="Last Name"></handsontable-column>
    <handsontable-column type="autocomplete" source="genderList" value="gender"
                title="Gender"></handsontable-column>
    <handsontable-column type="numeric" value="age" title="Age"></handsontable-column>
    <handsontable-column type="checkbox" value="languages.english" title="English" checkedTemplate="Yes"
                uncheckedTemplate="No"></handsontable-column>
    <handsontable-column type="checkbox" value="languages.spanish" title="Spanish" checkedTemplate="Yes"
                uncheckedTemplate="No"></handsontable-column>
    <handsontable-column type="checkbox" value="languages.french" title="French" checkedTemplate="Yes"
                uncheckedTemplate="No"></handsontable-column>
    <handsontable-column type="numeric" value="salary" title="Salary" format="$ 0,0.00"></handsontable-column>
  </handsontable-table>
</div>